<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>콘텐츠 업로드</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="assets/img/favicon.ico">

        <!-- Bootstrap core CSS -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">

        <!-- Fonts -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static './assets/css/mediumish.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
    </head>
<body>

<!-- NAVBAR -->
<div class="container">
	 <div class="w3-top" style="margin-left: -80px; right: 0px; ">
             <div class="w3-bar w3-black w3-card"></div>
	</div>

<!-- Page Title -->
<div class="container" >
	<div class="mainheading">
		<h1 class="sitetitle">Please, Upload your life!</h1>
		<p class="lead"></p>
	</div>

    <section class="featured-posts">
        <div class="section-title">
		<h2><span></span></h2>
        </div>
        <section class="containerbox">
                  <form method="POST" enctype="multipart/form-data" action="{% url 'UploadContent' shelter.id %}">
                    {% csrf_token %}
                    <div>작자명</div>
                    <div class="user-input">{{form.author}}</div>
                  </br>
                    <div>이메일 입력(선택사항)</div>
                    <div class="user-input">{{form.email}}</div>

                    <div>콘텐츠 이름</div>
                    <div class="user-input">{{form.title}}</div>
                    
                    <div>콘텐츠 설명(선택사항)</div>
                    <div class="user-input">{{addition_form.description}}</div>

                    <hr>
                    <div>업로드</div>
                    <div><h6>* 업로드 승인 시 작성한 이메일로 승인 메일이 보내집니다.</h6></div>
                    <div><h6>* 이미지확장자는 jpg, jpeg, png 가능, 비디오확장자는 mp4 가능</h6></div>
                    <div>{{addition_form.upload_file}}</div>
                    <hr>
                    
                    <div>전화번호</div>
                    <div class="user-input">{{form.phonenum}}</div>

                    <div>공개여부체크박스</div>
                    <div class="user-input">{{form.disclosure_status}}</div>

                    <div>정보 이용 동의 체크박스</div>
                    <div class="user-input">{{form.confirmation_use_information_status}}</div>
                    
                    <hr>
                    <div class="back_submit_choice_container" style="float: right">
                        <input type="submit" class="btn btn-primary col-12" style="cursor: pointer; border-radius: 10px; width: 70px; bottom: 10px;" value="제출">
                    </div>
                </form>
        </section>
    </section>

	<!-- Begin Footer -->
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2022 CMS
		</p>
		<p class="pull-right">
			 Developed by <a target="_blank" href="http://snslab.cu.ac.kr">SNSLab</a>
		</p>
		<div class="clearfix">
		</div>
	</div>
</div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

</body>
</html>

