<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 대시보드</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'Management/css/adminDashboard.css' %}">
    <link rel="stylesheet" href="{% static 'Management/css/detailAdmin.css' %}">
    <link rel="stylesheet" href="{% static 'Management/css/DetailCommunity.css' %}">

</head>
<body>
  <div class="side-menu">
        <div class="brand-name">
            <h1><a style="color: white" href="{% url 'Dashboard' %}">CMS 관리 대시보드</a></h1>
        </div>
        <ul>

            <li><img src="{% static 'Management/img/reading-book (1).png' %}" alt="">&nbsp; &nbsp;
                <span><a style="color: white" href="{% url 'Admin'%}">관리자</a></span></li>
            <li><img src="{% static 'Management/img/reading-book (1).png' %}" alt="">&nbsp; &nbsp;
                <span><a style="color: white" href="{% url 'Mypage'%}">마이페이지</a></span></li>
            <li><img src="{% static 'Management/img/school.png' %}" alt="">&nbsp; &nbsp;
                <span><a style="color: white" href="{% url 'ViewShelter'%}">쉘터</a></span></li>
            <li><img src="{% static 'Management/img/dashboard (2).png' %}" alt="">&nbsp; &nbsp;
                <span><a style="color: white" href="{% url 'ViewContent'%}">콘텐츠</a></span></li>
            <li><img src="{% static 'Management/img/payment.png' %}" alt="">&nbsp; &nbsp;
                <span><a style="color: white" href="{% url 'ViewAdvertisement'%}">광고</a></span> </li>
            <li><img src="{% static 'Management/img/payment.png' %}" alt="">&nbsp; &nbsp;
                <span><a style="color: white" href="{% url 'ViewCommunity'%}">커뮤니티</a></span></li>
            <li><img src="{% static 'Management/img/help-web-button.png' %}" alt="">&nbsp; &nbsp;
                <span>도움말</span></li>
            <li><img src="{% static 'Management/img/settings.png' %}" alt="">&nbsp; &nbsp;
                <span>설정</span> </li>
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search..">
                    <button type="submit"><img src="{% static 'Management/img/search.png' %}" alt=""></button>
                </div>
                <div class="user">
                    <a href="{% url 'Logout' %}" class="btn">로그아웃</a>
                    <img src="{% static 'Management/img/notifications.png' %}" alt="">
                    <div class="img-case">
                        <img src="{% static 'Management/img/user.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>광고 세부 정보</h2>
                    </div>

                    <div class = "infoBox">
                        <div>번호 : {{advertisement.id}}</div>
                        <hr>
                        <div>광고명 : {{advertisement.name}}</div>
                        <hr>
                        <div>광고타입 : {{advertisement.adType}}</div>
                        <hr>
                        <div>광고주 : {{advertisement.company}}</div>
                        <hr>
                        <div>광고 관계자 : {{advertisement.advertiser}}</div>
                        <hr>
                        <div>이메일 : {{advertisement.email}}</div>
                        <hr>
                        <div>전화번호 : {{advertisement.phone}}</div>
                        <hr>
                        <div>광고상태 : {{advertisement.advertisement_status}}</div>
                        <hr>
                        <div>적용쉘터 : {{advertisement.shelterFK}}</div>
                        <hr>
                        <div>
                            <div>광고 콘텐츠</div>
                            {% if ad_media.type == "Image" %}
                                <img class="media_preview" style="height: 40%; width: 40%; object-fit: cover;" \
                             src="/media/{{ad_media.content}}">

                            {% elif ad_media.type == "Video" %}
                            <video controls>
                                <source src="/media/{{ad_media.content}}" type="video/mp4" >
                            </video>
                            {% endif %}
                            </div>
                        <hr>
                        <div>광고 콘텐츠 타입 : {{ad_media.type}}</div>
                        <hr>
                        <div>생성일자 : {{advertisement.createDate}}</div>
                        <hr>
                        <div>수정일자 : {{advertisement.lastEditDate}}</div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="{% static 'Management/js/adminDashboard.js' %}"></script>
</body>
</html>